/*----------------------------*\
           #headings
\*----------------------------*/

h1 {
}

body {
}

.btn {
    display: inline-block;
    padding: 1em 2em;
    vertical-align: middle;
}

.btn--positive {
    background-color: green;
    color: white;
}