/*----------------------------*\
           #headings
\*----------------------------*/

h1 {
}

body {
    font-family: serif;
}

.btn {
    display: inline-block;
    padding: 1em 2em;
    vertical-align: middle;
}

.btn--positive {
    background-color: green;
    color: white;
}

.page-header-content {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
}